.logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}
.cart-button {
  font-size: 25px;
}
.navbar {
  margin: 0;
}
.fb-button {
  font-size: 25px;
  margin-top: 15px;
  float: right;
}
a {
  color: #777;
  text-decoration: none !important;

  & :hover {
    text-decoration: none !important;
  }
}
.snipcart-checkout{
    background-color: none;
}
.logo {
  list-style-type: none;

   & :hover {
     text-decoration: none;
   }
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #f8f8f8;
}
