.logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}
.cart-button {
  font-size: 25px;
}
.navbar {
  margin: 0;
}
.fb-button {
  font-size: 25px;
  margin-top: 15px;
  float: right;
}
a {

  & :hover {
    text-decoration: none;
  }
}
