.featured-products, .just-arrived {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.featured-flex, .arrived-flex {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: 1000px) {
    flex-wrap: nowrap;
  }
}
.featured-products-header, .just-arrived-header {
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 55px;
  margin-bottom: 20px;
  font-size: 35px;
}
