.footer {
  padding-top: 15px;
  margin-bottom: 5px;
  border-top: 1px solid #e7e7e7;
  background-color: #f8f8f8;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

  @media (min-width: 769px) {
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
    margin-bottom: 0;
  }
}
.footer-link {
  color: grey;
}
.footer-fb {
  margin: 2px;
}
.gully-logo {
  height: 50%;
  widht: auto;
}
p {
  margin: 0;
}
.website-by {
  font-size: 10px;
  margin-bottom: none;
}
.gully-flex {
  width: 45%;
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: flex-end;
  justify-content: flex-end;
}
.footer-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}
