.footer {
  padding-top: 15px;
  border-top: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  padding-bottom: 5px;
}
.footer-nav {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-link {
  color: grey;
}
.footer-fb {
  margin: 2px;
}
.fb-container {
  order: 3;
  align-self: flex-end;

  @media (min-width: 768px) {

  }
}
.gully-link {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: flex-end;
  justify-content: flex-end;
}
.gully-logo {
  height: 50%;
  width: auto;
  padding-right: 5px;
}
p {
  margin: 0;
}
.website-by {
  font-size: 10px;
  margin-bottom: none;
}
.gully-flex {
  width: 45%;
  height: 40px;
  order: 3;
}
.footer-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid #e7e7e7;
  order: 1;
  padding-bottom: 10px;

  @media (min-width: 768px) {
    border-bottom: none;
  }
}
