.product-container {
  width: 200px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px;


  & a {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  & .product-image {
    width: 100%;
    height: 150px;
  }

  & .product-type {
    margin-bottom: 0;
  }

  & .product-price {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
}
