.product-container {
  width: 213px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px;
  overflow: hidden;

  & a {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  & .product-image {
    width: 213px;
    height: 150px;
  }

  & .product-type {
    margin-bottom: 0;
    min-height: 40px;
  }

  & .product-price {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }

  & .product-name {
    min-height: 52px;
  }

}
